/*
General
*/

body,
.body {
  background-color: var(--color-body-background);
  color: var(--color-text);
}

.body {
  padding: 10px;
}

.link {
  text-decoration: none;
  color: var(--color-link);
}

.themes {
  border-color: var(--color-themes-border);
}

#container {
  margin: 40px 60px 40px 60px;
  padding: 20px;
  border: 4px solid;
  border-radius: 50px;
  border-color: var(--color-themes-border);
}
/*
Default
*/

.head h1 {
  font-size: 32px;
  color: var(--color-title);
}

.list {
  list-style-type: circle;
}

.item {
}

/*
Modifcations
*/
.defect {
  font-style: italic;
}

.asap {
  font-weight: bold;
}


.no-data {
  color: var(--color-important);
  font-size: 20px;
}


.repetion {
  font-size: 20px;
}

.bonus {
  font-size: 20px;
}


.extra {
  font-size: 20px;
}


.error {
  border: 3px var(--color-error) solid;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
}


.errors .title {
  color: var(--color-error);
}

.errors .description {
  color: var(--color-error);
}


.load {
  border-color: var(--color-important);
}

.about {
  border-color: var(--color-about-border);
}


/*
Error
*/

.error {
  border: 3px var(--color-error) solid;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
}


.error > .title {
  color: var(--color-error);
}

.error > .description {
  color: var(--color-error);
}



/*
Home
*/
.home {
  border-color: var(--color-home-border);
}


.home > .list {
  list-style-type: square;
}

/*
Course
*/

.course {
  border-color: var(--color-course-border);
}

.course > .description {
}

.course > .list {
  list-style-type: upper-roman;
}

.course > .item {
  font-weight: bold;
}

/*
Group
*/

.group {
  border-color: var(--color-group-border);
}

.group > list {
  list-style-type: upper-roman;
}

/*
Part
*/
.part {
  border-color: var(--color-part-border);
}

.part > list {
  list-style-type: none;
}

.part > item {
  margin: 10px;
  font-size: 20px;
}

.part > item em {
  margin: 0px 0px 0x 20px;
  font-size: 15px;
}

/*
Lession
*/
.lession {
  border-color: var(--color-lession-border);
}

.lession > title {
  font-size: 50px;
  margin-bottom: 5px;
}

.lession > subtitle {
  color: var(--color-lession-subtitle);
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.lession > time {
  font-style: italic;
}

.lession > list {
  margin-top: 50px;
  font-size: 25px;
}
