/* Icon using emojis */

.deprecated > h1:before {
    content: "🧹 ";
}
.index > h1:before {
    content: "ℹ️ ";
}
.linkTo > h1:before {
    content: "🔗 ";
}
.main > h1:before {
    content: "Ⓜ️ ";
}
.soon > h1:before {
    content: "⏰ ";
}
.subject > h1:before {
    content: "📁 ";
}
.underConstruction > h1:before {
    content: "🏗️ ";
}
.chapter > h1:before {
    content: "📘 ";
}
.course > h1:before {
    content: "🍎 ";
}
.example > h1:before {
    content: "⚙️ ";
}
.lab > h1:before {
    content: "⚗️ ";
}
.question > h1:before {
    content: "❓ ";
}
.repetion > h1:before {
    content: "♻️ ";
}
.beginner > h1:before {
    content: "💚 ";
}
.intermediate > h1:before {
    content: "🔷 ";
}
.expert > h1:before {
    content: "⬛ ";
}
.rapport > h1:before {
    content: "📝 ";
}
.part > h1:before {
    content: "🍏 ";
}
.webEditor > h1:before {
    content: "🖋 ";
}
.training > h1:before {
    content: "⭕️ ";
}
.about > h1:before {
    content: "👁️‍🗨️ ";
}
.article > h1:before {
    content: "📄 ";
}
.faq > h1:before {
    content: "🧭 ";
}
.history > h1:before {
    content: "🏰 ";
}
.section > h1:before {
    content: "📜 ";
}
.thought > h1:before {
    content: "🤔 ";
}
.video > h1:before {
    content: "🎥 ";
}
.warning > h1:before {
    content: "⚠️ ";
}
.wikipedia > h1:before {
    content: "🌐 ";
}
.git > h1:before {
    content: "🗂️ ";
}
.component > h1:before {
    content: "🪛 ";
}
.important > h1:before {
    content: "🔥 ";
}
