/* Icon using emojis */


.deprecated h1:before {
  content: "🧹 ";
}

.deprecated li:before {
  content: "🧹 ";
}

.important h1:before {
  content: "🔥 ";
}

.important li:before {
  content: "🔥 ";
}

.soon h1:before {
  content: "⏰ ";
}

.soon li:before {
  content: "⏰ ";
}

.lab h1:before {
  content: "⚗️ ";
}

.lab li:before {
  content: "⚗️ ";
}
