body{
  background: linear-gradient(45deg,  #f87047, #b1194c, #23a6d5, #4b09a1 );  
  background-size: 400% 400%;
  animation: Bakgrund 10s ease infinite;
  position: relative;
  font-family: Monospace, Lucida;
  position: relative;
  min-height: 100vh;
  color:#EFEEF5;
}

@keyframes Bakgrund {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#level{
  width: 80px;
  overflow: hidden;
  border: 0.5px solid #EFEEF5;;
  position: relative;
  padding: 3px 0 ;
  background-color: transparent;
  font-family: Georgia, serif;
  color:#EFEEF5;
  font-size: 0.8em;
}

option { 
  background-color: #EFEEF5;
  color:black ;
 
}

#root {
 display: flex;
 flex-direction: column;
 padding-bottom: 2.5rem;
} 

/*
.container {


}*/

.title{
  text-transform:capitalize;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 5px dotted rgba(0,0,0,.25);
  text-shadow: 0.5px 0.5px 0.5px white;
  
}


/*
.subtitle{

}
*/

.home__description{
  font-size: 1.1em;
  font-weight:bold;
  padding:10px;
  margin:50px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  line-height: 25px;
}

.course__description{
  font-size: 1.1em;
  font-weight:bold;
  padding:10px;
  margin:50px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  line-height: 25px;
}

.part__description {
  font-size: 1.1em;
  font-weight:bold;
  padding:10px;
  margin:50px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  line-height: 25px;
}

.lesson__description{
  font-size: 1.1em;
  font-weight:bold;
  padding:10px;
  margin:50px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  line-height: 25px;
}


 ul{
  list-style-type: square;
  font-size: 1.1em;
  text-transform:capitalize;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
 }

.course__list {
  list-style-type:decimal;
}

.item {
  padding: 5px;
  margin: 10px;
}

a {
  display:inline-block;
}

.link {
  text-decoration: none;
  color:#EFEEF5;
}

.link:hover{
  color:#402F50 ;
  text-decoration: none;  
  transform: scale(1,1.5);
  text-shadow: 5px 5px 5px white;  
  transition: all 0.4s;

}

.home__list a:first-letter {
  font-size: 23px;
}

footer {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: italic;
  font-style: italic;
  font-size:0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  border-top: 5px dotted rgba(0,0,0,.25); 
  padding-top: 5px;  

}

footer p:nth-child(2)::before {
  content:',';
}

/*aa*/

/* .exercise__container{

}

.exercise__title{

}
*/

.exercise__subtitle {
  padding-left: 5px;
  font-size: 1.5em;
  font-weight:bold;
}

.exercise__description{
  font-size: 1.1em;
  font-weight:bold;
  padding:10px;
  margin:50px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  line-height: 25px;
}

/*aa*/
.cm-line , .ͼ8{
  color:black;
}

.test__title{
  text-decoration: underline;

}

.test_panel{
  padding-right: 100px;
  padding-left: 100px;
  font-size: 1em; 
  padding-bottom: 3.5rem;
}

#test {
  padding-bottom: 3.5rem;
} 

#solution{
  padding-bottom: 3.5rem;
}


@media all and (max-device-width: 850px) /*Surfplata*/ 
{
  body{
      background: linear-gradient(45deg, #b4f3de, #296196, #6a5886, #ee3737);
      background-size: 400% 400%;
      animation: Bakgrund 10s ease infinite;
      position: relative;
      color:#EFEEF5;
  }
  @keyframes Bakgrund {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


    #level{
      width: 90px;
      padding: 5px 0;
      font-size: 1em;
    }

    .title{
      font-size: 1.6em;
      border-bottom: 6px dotted rgba(0,0,0,.25);
    }
    
    .home__description{
      font-size:1.4em;
      padding:8px;
      margin:40px;
      line-height: 20px;
    }
    
    .course__description{
      font-size:1.4em;
      padding:8px;
      margin:40px;
      line-height: 20px;
    }
    
    .part__description {
      font-size:1.4em;
      padding:8px;
      margin:40px;
      line-height: 20px;
    }
    
    .lesson__description{
      font-size:1.4em;
      padding:8px;
      margin:40px;
      line-height: 20px;
    }

    ul{
      font-size:1.4em;  
      padding-left: 80px;
     }

    .item{
      margin-bottom: 25px;
     }
    
    
    a {
      display:inline-block;
    }
    
    .link {
      text-decoration: none;
      color:#EFEEF5;
    }
    
    .link:hover{
      color:#002a5a ;
    }
    
    
    .home__list a:first-letter {
      font-size: 28px;
    }
    
    .lession__list {
      padding-top: 1px;
      
    }
    
    footer {
      border-top: 6px dotted rgba(0,0,0,.25); 
      padding-top: 1.5px;  
      padding-bottom: 1.5px;
  
    }

  /*aa*/

    .exercise__subtitle {
      font-size: 1.6em;
    }

    .exercise__description {
      font-size:1.4em;
      padding:8px;
      margin:40px;
      line-height: 20px;
    }
    
}



@media all and (max-device-width: 550px) /*Mobile*/
{
  body{
      background: linear-gradient(-132deg, #eea57a, #64eb2e, #347edf, #ad4f91);
      background-size: 400% 400%;
      animation: Bakgrund 10s ease infinite;
      position: relative;
      font-family: Monospace, Lucida;
  }
  @keyframes Bakgrund {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    #level{
      width: 100px;
      padding: 6px 0;
      font-size: 1.5em;
    }


    #root {
      padding-bottom: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .title{
      font-size: 2em;
      border-bottom: 9px dotted rgba(0,0,0,.25);
    }
    
    .home__description{
      font-size: 1.7em;
      padding:6px;
      margin-bottom:50px;
      line-height: 40px;
      border: 3px solid;
    }
    
    .course__description{
      font-size: 1.7em;
      padding:6px;
      margin-bottom:50px;
      line-height: 40px;
      border: 3px solid;
    }
    
    .part__description {
      font-size: 1.7em;
      padding:6px;
      margin-bottom:50px;
      line-height: 40px;
      border: 3px solid;
    }
    
    .lesson__description{
      font-size: 1.7em;
      padding:6px;
      margin-bottom:50px;
      line-height: 40px;
      border: 3px solid;
    }
  
    ul{
      font-size: 1.7em;
      padding-top: 1px;
      padding-bottom:50px;
      display:inline;
      align-items: center;
      justify-content: center;
      text-align: center;
      word-spacing:-3px;
      
    }

    .course__list {
      list-style-type:decimal;
    }


    .item {
      margin-bottom: 90px;
      list-style: none; 
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  
    }
    
    a {
      display:inline-block;
    }
    
    .link {
      text-decoration: none;
      color:#EFEEF5;
    }
    
    .link:hover{
      color:#156853;;
      text-decoration: none;
      transform: scale(1,1.3);
    }
    
    
    .home__list a:first-letter {
      font-size: 35px;
    }
    
    .lession__list {
      padding-top: 1px;
      
    }
    
    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:1.3em;
      text-align: center;
      height: 6rem; 
      border-top: 9px dotted rgba(0,0,0,.25);
      margin-top:10px;
      padding-top: 1px;  
      padding-bottom: 1px;
  
    }
    
    /*aa*/

    .exercise__subtitle {
      font-size: 2em;
    }

    .exercise__description {
      font-size: 1.7em;
      padding:6px;
      margin-bottom:50px;
      line-height: 40px;
      border: 3px solid;
    }

    .test_panel{
      display:grid;
      align-items:start;
      justify-content: center;
      text-align: center;
    }
    

  }
