/*
General

??

Weight: -4

Style guide: general
*/

/*
.body

??

Weight: -4


Style guide: general.body
*/
body,
.body {
  background-color: var(--color-body-background);
  color: var(--color-text);
}

.body {
  padding: 10px;
}

/*
.title

??

Weight: -3
 
Markup: title.html

Style guide: general.title
*/
.title {
  font-size: 32px;
  color: var(--color-title);
}

/*
.list

??

Markup: list.html

Style guide: general.list
*/
.list {
  list-style-type: none;
}

/*
.item

??

Style guide: general.item
*/
.item {
}

/*
.link

??

Style guide: general.link
*/
.link {
  text-decoration: none;
  color: var(--color-link);
}

/*
.container

??

Style guide: general.container
*/
.container {
  margin: 40px 60px 40px 60px;
  padding: 20px;
  border: 4px solid;
  border-radius: 50px;
}

/*
Tags

??

Weight: -4

Style guide: tags
*/
/*
.defect

??

Markup: defect.html

Style guide: tags.ldefect
*/
.defect {
  font-style: italic;
}

/*
.important

??

Markup: important.html

Style guide: tags.important
*/
.important {
  color: var(--color-important);
  text-decoration: underline;
}

/*
.asap

??

Markup: asap.html

Style guide: tags.asap
*/
.asap {
  font-weight: bold;
}

/*
.no-data

??

Markup: no-data.html

Style guide: tags.no-data
*/
.no-data {
  color: var(--color-important);
  font-size: 20px;
}

/*
.repetion

??

Markup: repetion.html

Style guide: tags.repetion
*/
.repetion {
  font-size: 20px;
}

/*
.bonus

??

Markup: bonus.html

Style guide: tags.bonus
*/
.bonus {
  font-size: 20px;
}

/*
.extra

??

Markup: extra.html

Style guide: tags.extra
*/
.extra {
  font-size: 20px;
}

/*
Errors

??

Weight: -3

Style guide: errors
*/
/*
.error

??

Markup: error.html

Weight: -2

Style guide: errors.error
*/

.error {
  border: 3px var(--color-error) solid;
  margin: 5px;
  padding: 5px;
  border-radius: 0px;
}

/*
.error__title

??


Style guide: errors.error__title
*/
.errors__title {
  color: var(--color-error);
}

/*
.errors__description

??


Style guide: errors.errors__description
*/
.errors__description {
  color: var(--color-error);
}

/*
Sites

??

Weight: -3

Style guide: sites
*/
/*
.load

??

Style guide: sites.load
*/
.load {
  border-color: var(--color-important);
}

/*
.about

??

Style guide: sites.about
*/
.about {
  border-color: var(--color-about-border);
}

/*
.themes

??

Style guide: sites.themes
*/
.themes {
  border-color: var(--color-themes-border);
}

/*
Home

??

Style guide: sites.home
*/

/*
.home

??

Weight: -2

Markup: home.html

Style guide: sites.home.home
*/
.home {
  border-color: var(--color-home-border);
}

/*
.home__list

??

Style guide: sites.home.home__list
*/
.home__list {
  list-style-type: square;
}

/*
Course

??

Style guide: course
*/

/*
.course

??

Weight: -2

Markup: course.html

Style guide: course.course
*/
.course {
  border-color: var(--color-course-border);
}

/*
.course__description

??

Style guide: course.course__description
*/
.course__description {
}

/*
.course__list

??

Style guide: course.course__list
*/
.course__list {
  list-style-type: upper-roman;
}

/*
.course__item

??

Style guide: course.course__item
*/
.course__item {
  font-weight: bold;
}

/*
Group

??

Weight: -2

Style guide: group
*/

/*
.group

??

Weight: -2

Markup: group.html

Style guide: group.group
*/
.group {
  border-color: var(--color-group-border);
}

/*
.group__list

??

Style guide: group.group__list
*/
.group__list {
  list-style-type: upper-roman;
}

/*
Part

??

Style guide: part
*/

/*
.part

??

Weight: -2

Markup: part.html

Style guide: part.part
*/
.part {
  border-color: var(--color-part-border);
}

/*
.part__item

??

Style guide: part.part__item
*/
.part__item {
  margin: 10px;
  font-size: 20px;
}

/*
.part__item em

??

Style guide: part.part__item-em
*/
.part__item em {
  margin: 0px 0px 0x 20px;
  font-size: 15px;
}

/*
Lession

??

Weight: 1

Style guide: lession
*/

/*
.lession

??

Weight: -2

Markup: lession.html

Style guide: lession.lession
*/
.lession {
  border-color: var(--color-lession-border);
}

/*
.lession__title

??

Weight: -1

Markup: lession__title.html

Style guide: lession.lession__title
*/
.lession__title {
  font-size: 50px;
  margin-bottom: 5px;
}

/*
.lession__subtitle

??

Style guide: lession.lession__subtitle
*/
.lession__subtitle {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/*
.lession__time

??

Markup: lession__time.html

Style guide: lession.lession__time
*/
.lession__time {
  font-style: italic;
}

/*
.lession__list

??

Markup: lession__list.html

Style guide: lession.lession__list
*/
#lession__list {
  margin-top: 50px;
  font-size: 25px;
}
