/* Imports */
@import "../../css/base-for-color-theme.css";

:root {
  --color-body-background: #405d27;
  --color-home-border:  #3e4444;
  --color-themes-border: #3e4444;
  --color-about-border: #3e4444;
  --color-group-border: #3e4444;
  --color-course-border: #3e4444;
  --color-part-border: #3e4444;
  --color-lession-border: #3e4444;
  --color-lession-subtitle: #3e4444;
  --color-link: #c1946a;
  --color-text: #82b74b;
  --color-title: #82b74b;
  --color-importent: #3e4444;
  --color-error: #3e4444;
}

/*
HEX: #3e4444

HEX: #82b74b

HEX: #405d27

HEX: #c1946a
*/