<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <title>HTSIT playground</title>
    <script src="../node_modules/codemirror/lib/codemirror.js"></script>
    <link
      rel="stylesheet"
      href="../node_modules/codemirror/lib/codemirror.css"
    />
    <script src="../node_modules/codemirror/mode/javascript/javascript.js"></script>
    <script src="./exercise-editor.js"></script>
    <script src="./config.js"></script>
    <link rel="stylesheet" href="./css/base.css" />
    <link id="style" rel="stylesheet" href="" />
    <script type="module">
      import style from "../../lib/setStyle.js";
      window.onload = style.setup("../../");
    </script>
    <script>
      window.onload = createEditor;
    </script>
  </head>
  <body>
    <h1 id="welcome" class="title">Välkommen!</h1>
    <div id="main">
      <div id="chooser" class="options">
        <select id="level" onchange="createOptionForLevel(this)">
          <option id="level__my" value="my">my</option>
          <option id="level__very-easy" value="veryEasy">very easy</option>
          <option id="level__easy" value="easy">easy</option>
          <option id="level__normal" value="normal">normal</option>
          <option id="level__hard" value="hard">hard</option>
          <option id="level__veryHard" value="veryHard">very hard</option>
          <option id="level__extreme" value="extreme">extreme</option>
        </select>
        <select id="js-chooser__number" class="number"></select>
        <button id="js-chooser__load" class="load" onclick="load()">
          Load
        </button>
      </div>
      <div id="solution" class="options" style="display: none">
        <p>Det finns följande lösningar till uppgiften:</p>
        <select
          id="lang"
          onchange="createOptionForSolution(this)"
          class="options"
        >
          <option id="lang__java" value="java">java</option>
          <option id="lang__md" value="md">psedo kod</option>
          <option id="lang__cs" value="cs">cs</option>
          <option id="lang__js" value="js">js</option>
        </select>
        <select id="js-solution__number" class="number"></select>
        <button id="js-solution__load" class="load" onclick="loadSolution()">
          Load
        </button>
      </div>
      <div id="information" class="container">
        <div id="information__by" class="tag">
          <strong>Av:</strong>
          <div id="js-information__by__data" class="data">dig</div>
        </div>
        <div id="information__category" class="tag">
          <strong>Kategori:</strong>
          <div id="js-information__category__data" class="data">ingen</div>
        </div>
        <div id="information__solution-by" class="tag" style="display: none">
          <strong>Lösning av:</strong>
          <div id="js-information__solution-by__data" class="data">dig</div>
        </div>
      </div>

      <div id="exercise" class="container">
        <h2 id="exercise__title" class="title">Uppgift</h2>
        <p id="js-exercise__description">Vad är detta?</p>
      </div>

      <div id="editor" class="container">
        <h3 id="editor__title" class="title">Editor</h3>
        <textarea id="js-editor__window"></textarea>
        <div id="buttons">
          <button id="editor__run" class="button" onclick="runJS()">Kör</button>
          <button id="editor__testing" class="button" onclick="testAll()">
            Testa
          </button>
        </div>
      </div>

      <div id="testing" class="container">
        <div id="selection">
          <button
            id="selection__add-dataset"
            class="button"
            onclick="addDataset()"
          >
            +
          </button>
          <button
            id="js-selection__0"
            class="button"
            onclick="changeDataset(0);"
          >
            0
          </button>
        </div>
        <div id="io" class="container">
          <div id="io__input" class="container">
            <h3 id="input__title" class="title">Input</h3>
            <textarea id="js-input__text" class="io__text"></textarea>
          </div>
          <div id="io__output" class="container">
            <h3 id="output__title" class="title">Output</h3>
            <textarea id="js-output__text" class="io__text"></textarea>
          </div>
          <div id="io__test" class="container">
            <h3 id="test__title" class="title">Test</h3>
            <textarea id="js-test__text" class="io__text"></textarea>
          </div>
        </div>
      </div>
    </div>
    <sup id="footnote">
      <h3>© 2015-2020 Magnus Kronnäs</h3>
      <p>
        Det finns
        <span id="footnote__number-of-exercises">{{number_of_exercises}}</span>
        uppgifter,
        <span id="footnote__number-of-uniq-solutions"
          >{{number_of_solutions_uniq}}</span
        >
        av dem har lösningar.
      </p>
      <p>
        Totalt finns det
        <span id="footnote__number-of-solutions">{{number_of_solutions}}</span>
        lösningar.
      </p>
    </sup>
  </body>
</html>
