/* Imports */
@import "../../css/base-for-color-theme.css";
@import "../../css/icon.css";

:root {
  --color-body-background: seashell;
  --color-home-border: red;
  --color-themes-border: red;
  --color-about-border: red;
  --color-group-border: red;
  --color-course-border: red;
  --color-part-border: red;
  --color-lession-border: red;
  --color-lession-subtitle: red;
  --color-link: black;
  --color-text: black;
  --color-title: black;
  --color-importent: red;
  --color-error: red;
}
