<div class="body">
  <div class="course container">
    <h1 class="course__title title">Webbutveckling 1</h1>
    <p class="course__description description">
      Vi ska lära oss göra webbsidor med hjälp av html och css.
    </p>
    <ul class="course__list list">
      <li class="course__item item">
        <a href="#!/it-2021/webbutveckling-1/css" class="link"
          ><span class="part-label label"
            ><strong>Style med CSS</strong></span
          ></a
        >
      </li>
    </ul>
  </div>
</div>
