<div class="body">
  <div class="group container">
    <h1 class="group__title title">Information om din grupp</h1>
    <h2 class="group__subtitle subtitle">IT 2021</h2>
    <p class="group__description description">
      Denna grupp läsr följande kurser:
    </p>
    <ul class="group__list list">
      <li class="group__item item">
        <a href="#!/it-2021/programmering-1" class="link"
          ><span class="course-label label"
            ><strong>Programmering 1</strong></span
          ></a
        >
      </li>
      <li class="group__item item">
        <a href="#!/it-2021/webbutveckling-1" class="link"
          ><span class="course-label label"
            ><strong>Webbutveckling 1</strong></span
          ></a
        >
      </li>
    </ul>
  </div>
</div>
