<div class="body">
  <div class="home container">
    <h1 class="home__title title">
      Lektionsplanering för kurser i gy11 som bygger på Mimer Akademin
    </h1>
    <p class="home__description description">Detta är en beskrivning</p>
    <ul class="home__list list">
      <li class="home__item item">
        <a href="#!/about" class="link">Om denna sida.</a>
      </li>
      <li class="home__item item">
        <a href="#!/themes" class="link">Välj utsende.</a>
      </li>
    </ul>
  </div>
</div>
