<div class="body">
    <ul id="lession__list" class="list">
        <li class="lession__item item"><span class="lession__label label"><span><span><a href="https://www.youtube.com/watch?v=L6_CoHNSbwc" class="link resourse link"> <span class="icon">🔗</span> Skapa en enkel express server</a></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span class="modification"> <span class="icons"><span class="icon">🔔</span></span> <span class="update modification"><span><a href="https://htsit.se/a/topics/programming/js/Programing-with-js/" class="chapter resourse link"> <span class="icon">📘</span> Programmera med JS</a></span></span></span></span></li><li class="lession__item item"><span class="lession-label label"><span class="modification"> <span class="icons"><span class="icon">🔔</span></span> <span class="update modification"><span><a href="https://htsit.se/a/topics/programming/js/Programing-with-js/00-Overview/index.html" class="section resourse link"> <span class="icon">📜</span> En översikt över JavaScript</a></span></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="todo note"> <span class="icon">🚩</span> Läs instruktionerna ovan.</span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span> Gör uppgifterna nedan som en illustration hur uppgifter kan vara under detta moment.</span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="track--black track"> <span class="icon">⬛</span> <span class="excersise"><a href="https://www.progolymp.se/" target="_blank" class="link"><span>PO2014</span></a>, <a href="https://htsit.se/j/2019/" target="_blank" class="link"><span>J2019</span></a>, <a href="https://htsit.se/j/2019/" target="_blank" class="link"><span>J2019</span></a></span></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="track--blue track"> <span class="icon">🔷</span> <span class="excersise"><a href="https://htsit.se/c?level=VE&amp;placing=0" target="_blank" class="link"><span>VE0</span></a>, <a href="https://htsit.se/c?level=E&amp;placing=1" target="_blank" class="link"><span>E1</span></a>, <a href="https://htsit.se/c?level=E&amp;placing=0" target="_blank" class="link"><span>E0</span></a></span></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="track--green track"> <span class="icon">💚</span> <span class="excersise"><a href="https://htsit.se/c?level=VE&amp;placing=2" target="_blank" class="link"><span>VE2</span></a>, <a href="https://htsit.se/c?level=VE&amp;placing=3" target="_blank" class="link"><span>VE3</span></a>, <a href="https://htsit.se/c?level=VE&amp;placing=4" target="_blank" class="link"><span>VE4</span></a></span></span></span></span></li>
    </ul>
</div>
