<div class="body">
  <span class="lession__time label"
    ><strong>2020-04-16</strong><span> </span><strong>12:50</strong
    ><span> - </span><strong>14:10</strong><span> </span
    ><em>(80 min)</em> ✔️</span
  >
</div>
