<div class="body">
<div class="lession container">
    <h1 class="lession__title">1 -
        <span>Introduktion till Express</span>
    </h1>
    <h2 class="lession__subtitle subtitle">
        <span class="lession__time label"><strong>2020-04-16</strong><span> </span><strong>12:50</strong><span> - </span><strong>14:10</strong><span> </span><em>(80 min)</em> ✔️</span>
    </h2>
    <p id="lession__description" class="description"> Detta är en test lektion</p>
    <ul id="lession__list" class="list">
        <li class="lession__item item"><span class="lession__label label"><span><span><a href="https://www.youtube.com/watch?v=L6_CoHNSbwc" class="link resourse link"> <span class="icon">🔗</span> Skapa en enkel express server</a></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span class="modification"> <span class="icons"><span class="icon">🔔</span></span> <span class="update modification"><span><a href="https://htsit.se/a/topics/programming/js/Programing-with-js/" class="chapter resourse link"> <span class="icon">📘</span> Programmera med JS</a></span></span></span></span></li>
        <li class="lession__item item"><span class="lession-label label"><span class="modification"> <span class="icons"><span class="icon">🔔</span></span> <span class="update modification"><span><a href="https://htsit.se/a/topics/programming/js/Programing-with-js/00-Overview/index.html" class="section resourse link"> <span class="icon">📜</span> En översikt över JavaScript</a></span></span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="todo note"> <span class="icon">🚩</span> Läs instruktionerna ovan.</span></span></span></li>
        <li class="lession__item item"><span class="lession__label label"><span><span class="todo note"> Gör uppgifterna nedan som en illustration hur uppgifter kan vara under detta moment.</span></li>
    </ul>
</div>
</div>
