<div class="body">
  <div class="part container">
    <h1 class="part__title title">Problemlösning med programmering</h1>
    <p id="part__description" class="description">
      Vi ska se om vi lärt oss grunderna i programmering genom att försöka lösa
      några kortare programmeringsproblem ofta inspiretat av matematik.
      Problemmen har olika svårighetsgrader.
    </p>
    <ul class="part__list list">
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/1" class="link"
          ><span class="lession-label label"
            ><strong>1</strong><span> - </span
            ><span
              ><strong
                >En översikt över JavaScript och denna uppgift</strong
              ></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/2" class="link"
          ><span class="lession-label label"
            ><strong>2</strong><span> - </span
            ><span><strong>Att komma igång med JS</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/3" class="link"
          ><span class="lession-label label"
            ><strong>3</strong><span> - </span
            ><span><strong>Strukturen på ett program</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/4" class="link"
          ><span class="lession-label label"
            ><strong>4</strong><span> - </span
            ><span><strong>Olika typer av värden</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/5" class="link"
          ><span class="lession-label label"
            ><strong>5</strong><span> - </span
            ><span><strong>Att anropa funktioner</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/6" class="link"
          ><span class="lession-label label"
            ><strong>6</strong><span> - </span
            ><span><strong>Variabler</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/7" class="link"
          ><span class="lession-label label"
            ><strong>7</strong><span> - </span
            ><span><strong>In och output</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/8" class="link"
          ><span class="lession-label label"
            ><strong>8</strong><span> - </span
            ><span><strong>Logik och aritmetik</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/9" class="link"
          ><span class="lession-label label"
            ><strong>9</strong><span> - </span
            ><span><strong>if-satser</strong></span
            ><span> </span><em>2020-03-01</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/10" class="link"
          ><span class="lession-label label"
            ><strong>10</strong><span> - </span
            ><span><strong>Mer om if-satser</strong></span
            ><span> </span><em>2020-03-23</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/11" class="link"
          ><span class="lession-label label"
            ><strong>11</strong><span> - </span
            ><span><strong>Loopar</strong></span
            ><span> </span><em>2020-03-24</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/12" class="link"
          ><span class="lession-label label"
            ><strong>12</strong><span> - </span
            ><span><strong>Mer om loopar</strong></span
            ><span> </span><em>2020-03-30</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/13" class="link"
          ><span class="lession-label label"
            ><strong>13</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">➕</span></span>
              <span class="bonus modification"
                ><strong>Ascii med tillämpningar.</strong></span
              ></span
            ><span> </span><em>2020-03-31</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/14" class="link"
          ><span class="lession-label label"
            ><strong>14</strong><span> - </span
            ><span><strong>Funktioner</strong></span
            ><span> </span><em>2020-04-14</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/15" class="link"
          ><span class="lession-label label"
            ><strong>15</strong><span> - </span
            ><span><strong>Objekt</strong></span
            ><span> </span><em>2020-04-20</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/16" class="link"
          ><span class="lession-label label"
            ><strong>16</strong><span> - </span
            ><span><strong>Listor</strong></span
            ><span> </span><em>2020-04-21</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/17" class="link"
          ><span class="lession-label label"
            ><strong>17</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">➕</span></span>
              <span class="bonus modification"
                ><strong>Algoritmer och Problemlösning</strong></span
              ></span
            ><span> </span><em>2020-04-27</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/18" class="link"
          ><span class="lession-label label"
            ><strong>18</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">➕</span></span>
              <span class="bonus modification"
                ><strong>Sortering</strong></span
              ></span
            ><span> </span><em>2020-04-28</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/19" class="link"
          ><span class="lession-label label"
            ><strong>19</strong><span> - </span
            ><span><strong>Att använda bibliotek</strong></span
            ><span> </span><em>2020-05-04</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/20" class="link"
          ><span class="lession-label label"
            ><strong>20</strong><span> - </span
            ><span><strong>Mer om js programmering</strong></span
            ><span> </span><em>2020-05-05</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/21" class="link"
          ><span class="lession-label label"
            ><strong>21</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">♻️</span></span>
              <span class="repetion modification"
                ><strong>Blandade uppgifter</strong></span
              ></span
            ><span> </span><em>2020-05-11</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/22" class="link"
          ><span class="lession-label label"
            ><strong>22</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">♻️</span></span>
              <span class="repetion modification"
                ><strong>Repetera</strong></span
              ></span
            ><span> </span><em>2020-05-12</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/23" class="link"
          ><span class="lession-label label"
            ><strong>23</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">♻️</span></span>
              <span class="repetion modification"
                ><strong>Repetera</strong></span
              ></span
            ><span> </span><em>2020-05-18</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/24" class="link"
          ><span class="lession-label label"
            ><strong>24</strong><span> - </span
            ><span class="modification">
              <span class="icons"><span class="icon">🔥</span></span>
              <span class="important modification"
                ><strong>Inför programmeringsinlämningen</strong></span
              ></span
            ><span> </span><em>2020-05-19</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/25" class="link"
          ><span class="lession-label label"
            ><strong>25</strong><span> - </span
            ><span><strong>Eget arbeta och frågor</strong></span
            ><span> </span><em>2020-05-25</em></span
          ></a
        >
      </li>
      <li class="part__item item">
        <a href="#!/it-2021/programmering-1/problemlösning/26" class="link"
          ><span class="lession-label label"
            ><strong>26</strong><span> - </span
            ><span><strong>Muntligt förhör.</strong></span
            ><span> </span><em>2020-05-26</em></span
          ></a
        >
      </li>
    </ul>
  </div>
  <div></div>
</div>
