* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: aliceblue;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.908000700280112) 19%,
    rgba(0, 0, 0, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 1 */
#level {
  padding: 10px;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  background-color: rgba(0, 212, 255, 1);
  color: #efefef;
  font-size: 15px;
}
.home h1,
.card .title,
.topic h1,
.section h1,
.course h1,
.part h1,
.lession h1 {
  text-align: center;
  height: 20vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 17%,
    rgba(0, 0, 0, 1) 36%,
    rgba(0, 0, 0, 1) 58%
  );
  box-shadow: 1px 2px 10px 20px rgb(18, 18, 67);
  padding-top: 50px;
}
.container h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.exercise h1 {
  text-align: center;
}
.error {
  background-color: red;
  color: #000;
  text-align: center;
}

/* 2 */
.home .description {
  font-size: 25px;
  text-align: center;
  width: 80%;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
}

.academy .desdescription,
.card .description,
.topic .description,
.course .description {
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.error .description {
  font-size: 20px;
  font-weight: bold;
}
.panel {
  width: 60%;
  padding-left: 100px;
}
.text {
  text-align: center;
  width: 80%;
  padding-left: 200px;
  padding-bottom: 100px;
}
h2 {
  padding: 40px 20px 10px 50px;
}
h5 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
}
.cm-wrap {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 212, 255, 1);
  height: 40vh;
}
.cm-line {
  background-color: white;
  color: black;
}

/* del3 buttom */
button {
  border-radius: 5px;
  font-size: 20px;
  padding: 3px;
  background-color: rgba(0, 212, 255, 1);
  box-shadow: 1px 2px rgb(32, 12, 32);
  margin: 2px;
}
button:hover {
  background-color: #fff;
}

/* 3 */
.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 15px;
  margin: 0 200px 100px 200px;
}
.item {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  overflow: hidden;
  z-index: -10;
  text-align: center;
}

.item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 10;
}
.item::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: -1;
  filter: blur(30px);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.card .item {
  height: 300px;
  width: 300px;
}
.note {
  width: 70%;
  position: relative;
  left: 40px;
  font-size: 25px;
}
/* 4 */
strong,
.symbol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vh;
  font-size: 18px;
  padding-right: 90px;
  z-index: 10;
}
.exercise .symbol {
  height: 50px;
  padding: 0;
}
.note {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  z-index: 10;
}
a {
  position: relative;
  top: 56px;
  left: 80px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  z-index: 200;
}

.index a {
  position: relative;
  right: 50px;
  font-size: 20px;
  z-index: 10;
}
.part .item a,
.lession .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding-right: 90px;
  font-size: 20px;
  z-index: 10;
}
.index span {
  position: relative;
  z-index: 10;
  top: 90px;
  font-size: 18px;
}
.index .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding-right: 90px;
  font-size: 20px;
  z-index: 10;
}
/* 5 */

footer {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 15%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 6, 1) 84%,
    rgba(2, 0, 36, 0.908000700280112) 100%
  );
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 70px;
  padding: 10px;
}

/* 6 */
@media screen and (max-width: 1960px) {
  .home .description {
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .list {
    margin: 0 100px 50px 100px;
  }
  .item {
    height: 250px;
    width: 250px;
  }
  a {
    top: -10px;
    left: 45px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .home .description {
    font-size: 20px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .list {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    margin: 0 100px 50px 100px;
  }
  .item {
    height: 210px;
    width: 210px;
  }
  .card .item {
    height: 250px;
    width: 250px;
  }
  .note {
    height: 20vh;
  }

  a {
    top: -10px;
    left: 45px;
    font-size: 15px;
  }
}
@media screen and (max-width: 783px) {
  .home .description {
    font-size: 18px;
    padding-left: 150px;
    padding-bottom: 150px;
    padding-top: 100px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 15px;
    margin: 0 100px 50px 100px;
  }
  .item {
    height: 210px;
    width: 210px;
    z-index: -10;
    text-align: center;
  }
  .card .item {
    height: 200px;
    width: 200px;
  }
  .note {
    font-size: 18px;
    height: 19vh;
  }
  a {
    top: -10px;
    left: 45px;
    font-size: 15px;
  }
  .index .item a {
    height: 5vh;
  }
  .text {
    text-align: center;
    width: 80%;
    padding-left: 20px;
    padding-bottom: 10px;
  }
}
