body {
  min-height: 100vh;
  margin: 0px;
  background-color: white ;
}

ul:not(.home > .list){
  list-style-image: url(images/stjärna.png);
}

/* Code for the header/banner */
#level {
  margin: 3;
  position: absolute;
}

.title::first-letter {
  font-size: larger;
  text-shadow: 1px 1px blue, 2px 2px yellow;
}

.title {
  color: white;
  animation-name: rgb;
  animation-duration: 10s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  border: 4px;
  padding: 25px;
  margin: 0;
  z-index: -1;
  position: relative;
  background-color: #041e67;
  text-align: center;
}

@keyframes rgb {
  0%{
    box-shadow: 0px 20px 100px yellow;
  }
  25%{
    box-shadow: 0px 20px 100px blue;
  }
  50%{
    box-shadow: 0px 20px 100px red;
  }
  100%{
    box-shadow: 0px 20px 100px yellow;
  }
}



.description {
  padding: 2px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
}



/* List style, regular */
.list {
  margin-left: 5%;
}
.link {
  text-decoration: none;
}



/* List style when in home page */
.home > .list {
  min-height: 80%;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type:none;
  padding:0px;
  overflow: hidden;
  perspective: 800px;
}

.home > .list > .item {
  box-shadow: 0px 20px 20px;
  background-color: black;
  margin: 5px;
  transition: transform 0.5s;
  transform: rotateX(50deg);
  height: 200px;
  width: 270px;
}

.home > .list > .item:hover {
  transition: transform 0.5s;
  transform: rotateX(0deg);
}


.home > .list > .item > .link {
  display: block;
  color:rgba(255, 255, 255, 0.897);
}

.home > .list > .item > .link > .part {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;

  background-color: black;               
}

/* Images for the home page list */
.home > .list > li:nth-child(1){
  background-size: 270px;
  background-image: url();
}

.home > .list > li:nth-child(2){
  background-size: 270px;
  background-image: url(images/pexels-negative-space-160107.jpg);
}

.home > .list > li:nth-child(3){
  background-size: 270px;
  background-image: url(images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
}

.home > .list > li:nth-child(4){
  background-size: 270px;
  background-image: url(images/artificial-intelligence-gf78121586_1920.jpg);
}

.home > .list > li:nth-child(5){
  background-size: 270px;
  background-image: url(images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
}

.home > .list > li:nth-child(6){
  background-size: 270px;
  background-image: url(images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
}

.home > .list > li:nth-child(7){
  background-size: 325px;
  
  background-image: url(images/taylor-vick-M5tzZtFCOfs-unsplash.jpg);
}

.home > .list > li:nth-child(8){
  background-size: 320px;
  background-repeat: no-repeat;
  background-image: url(images/pexels-pixabay-270404.jpg);
}



/* Footer style */
footer {
  color: whitesmoke;
  height: 75px;
  position: sticky;
  top: 100%;
  background-color: rgb(124, 124, 2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > p {
  margin: 0;
}


/* Media queries*/
@media all and (max-width: 577px) {
  .home > .list > .item > .link { 
    width: 180px;
    overflow-wrap: break-word;
  }
  
  .home > .list {
    perspective: 9000px;
  }

  .title {
    height: 200px;
    margin-bottom: 50px;
  }

  .description {
    padding: 2px;
    position: absolute;
    left: 12.5%;
    margin: 0px auto;
    text-align: center;
    background-color: whitesmoke;
    width: 75%;
    border-radius: 10px;
    border-style: solid;
    top: 150px;
    margin-bottom: 10px;
    border-color: #041e67;
    border-width: 5px;
  }

  .home > .description {
    border-color: #041e67;
    border-width: 5px;
  }

  .list {
    margin-left: 0%;
  }
}

@media all and (min-width: 577px) and (max-width: 857px){
  .home > .list {
    perspective: 6000px;
  }
}

@media all and (min-width: 1136px) {
  .home > .list > .item {
    height: 300px;
  }

  .home > .list > li:nth-child(1){
    background-size: 270px;
    background-image: url();
  }
  
  .home > .list > li:nth-child(2){
    background-size: 420px;
    background-image: url(images/pexels-negative-space-160107.jpg);
  }
  
  .home > .list > li:nth-child(3){
    background-size: 420px;
    background-image: url(images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
  }
  
  .home > .list > li:nth-child(4){
    background-size: 420px;
    background-image: url(images/artificial-intelligence-gf78121586_1920.jpg);
  }
  
  .home > .list > li:nth-child(5){
    background-size: 420px;
    background-image: url(images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
  }
  
  .home > .list > li:nth-child(6){
    background-size: 420px;
    background-image: url(images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
  }
  
  .home > .list > li:nth-child(7){
    background-size: 500px;
    
    background-image: url(images/taylor-vick-M5tzZtFCOfs-unsplash.jpg);
  }
  
  .home > .list > li:nth-child(8){
    background-size: 500px;
    background-repeat: no-repeat;
    background-image: url(images/pexels-pixabay-270404.jpg);
  }
  
}
